.webtiles-grid div {
 min-width: 32px;
 width: 32px;
 height: 32px;
}

.webtile {
  line-height: 32px;
}
/* water.png (0, 0) */
.wt-0 {
  background: url(water.png) 0px 0px;
}
/* water.png (1, 0) */
.wt-1 {
  background: url(water.png) -32px 0px;
}
/* water.png (2, 0) */
.wt-2 {
  background: url(water.png) -64px 0px;
}
/* water.png (0, 1) */
.wt-3 {
  background: url(water.png) 0px -32px;
}
/* water.png (1, 1) */
.wt-4 {
  background: url(water.png) -32px -32px;
}
/* water.png (2, 1) */
.wt-5 {
  background: url(water.png) -64px -32px;
}
/* water.png (0, 2) */
.wt-6 {
  background: url(water.png) 0px -64px;
}
/* water.png (1, 2) */
.wt-7 {
  background: url(water.png) -32px -64px;
}
/* water.png (2, 2) */
.wt-8 {
  background: url(water.png) -64px -64px;
}
/* water.png (0, 3) */
.wt-9 {
  background: url(water.png) 0px -96px;
}
/* water.png (1, 3) */
.wt-10 {
  background: url(water.png) -32px -96px;
}
/* water.png (2, 3) */
.wt-11 {
  background: url(water.png) -64px -96px;
}
/* water.png (0, 4) */
.wt-12 {
  background: url(water.png) 0px -128px;
}
/* water.png (1, 4) */
.wt-13 {
  background: url(water.png) -32px -128px;
}
/* water.png (2, 4) */
.wt-14 {
  background: url(water.png) -64px -128px;
}
/* water.png (0, 5) */
.wt-15 {
  background: url(water.png) 0px -160px;
}
/* water.png (1, 5) */
.wt-16 {
  background: url(water.png) -32px -160px;
}
/* water.png (2, 5) */
.wt-17 {
  background: url(water.png) -64px -160px;
}
/* dirt.png (0, 0) */
.wt-18 {
  background: url(dirt.png) 0px 0px;
}
/* dirt.png (1, 0) */
.wt-19 {
  background: url(dirt.png) -32px 0px;
}
/* dirt.png (2, 0) */
.wt-20 {
  background: url(dirt.png) -64px 0px;
}
/* dirt.png (0, 1) */
.wt-21 {
  background: url(dirt.png) 0px -32px;
}
/* dirt.png (1, 1) */
.wt-22 {
  background: url(dirt.png) -32px -32px;
}
/* dirt.png (2, 1) */
.wt-23 {
  background: url(dirt.png) -64px -32px;
}
/* dirt.png (0, 2) */
.wt-24 {
  background: url(dirt.png) 0px -64px;
}
/* dirt.png (1, 2) */
.wt-25 {
  background: url(dirt.png) -32px -64px;
}
/* dirt.png (2, 2) */
.wt-26 {
  background: url(dirt.png) -64px -64px;
}
/* dirt.png (0, 3) */
.wt-27 {
  background: url(dirt.png) 0px -96px;
}
/* dirt.png (1, 3) */
.wt-28 {
  background: url(dirt.png) -32px -96px;
}
/* dirt.png (2, 3) */
.wt-29 {
  background: url(dirt.png) -64px -96px;
}
/* dirt.png (0, 4) */
.wt-30 {
  background: url(dirt.png) 0px -128px;
}
/* dirt.png (1, 4) */
.wt-31 {
  background: url(dirt.png) -32px -128px;
}
/* dirt.png (2, 4) */
.wt-32 {
  background: url(dirt.png) -64px -128px;
}
/* dirt.png (0, 5) */
.wt-33 {
  background: url(dirt.png) 0px -160px;
}
/* dirt.png (1, 5) */
.wt-34 {
  background: url(dirt.png) -32px -160px;
}
/* dirt.png (2, 5) */
.wt-35 {
  background: url(dirt.png) -64px -160px;
}
/* grass.png (0, 0) */
.wt-36 {
  background: url(grass.png) 0px 0px;
}
/* grass.png (1, 0) */
.wt-37 {
  background: url(grass.png) -32px 0px;
}
/* grass.png (2, 0) */
.wt-38 {
  background: url(grass.png) -64px 0px;
}
/* grass.png (0, 1) */
.wt-39 {
  background: url(grass.png) 0px -32px;
}
/* grass.png (1, 1) */
.wt-40 {
  background: url(grass.png) -32px -32px;
}
/* grass.png (2, 1) */
.wt-41 {
  background: url(grass.png) -64px -32px;
}
/* grass.png (0, 2) */
.wt-42 {
  background: url(grass.png) 0px -64px;
}
/* grass.png (1, 2) */
.wt-43 {
  background: url(grass.png) -32px -64px;
}
/* grass.png (2, 2) */
.wt-44 {
  background: url(grass.png) -64px -64px;
}
/* grass.png (0, 3) */
.wt-45 {
  background: url(grass.png) 0px -96px;
}
/* grass.png (1, 3) */
.wt-46 {
  background: url(grass.png) -32px -96px;
}
/* grass.png (2, 3) */
.wt-47 {
  background: url(grass.png) -64px -96px;
}
/* grass.png (0, 4) */
.wt-48 {
  background: url(grass.png) 0px -128px;
}
/* grass.png (1, 4) */
.wt-49 {
  background: url(grass.png) -32px -128px;
}
/* grass.png (2, 4) */
.wt-50 {
  background: url(grass.png) -64px -128px;
}
/* grass.png (0, 5) */
.wt-51 {
  background: url(grass.png) 0px -160px;
}
/* grass.png (1, 5) */
.wt-52 {
  background: url(grass.png) -32px -160px;
}
/* grass.png (2, 5) */
.wt-53 {
  background: url(grass.png) -64px -160px;
}
/* house.png (0, 0) */
.wt-54 {
  background: url(house.png) 0px 0px;
}
/* house.png (1, 0) */
.wt-55 {
  background: url(house.png) -32px 0px;
}
/* house.png (2, 0) */
.wt-56 {
  background: url(house.png) -64px 0px;
}
/* house.png (3, 0) */
.wt-57 {
  background: url(house.png) -96px 0px;
}
/* house.png (4, 0) */
.wt-58 {
  background: url(house.png) -128px 0px;
}
/* house.png (5, 0) */
.wt-59 {
  background: url(house.png) -160px 0px;
}
/* house.png (6, 0) */
.wt-60 {
  background: url(house.png) -192px 0px;
}
/* house.png (7, 0) */
.wt-61 {
  background: url(house.png) -224px 0px;
}
/* house.png (8, 0) */
.wt-62 {
  background: url(house.png) -256px 0px;
}
/* house.png (0, 1) */
.wt-63 {
  background: url(house.png) 0px -32px;
}
/* house.png (1, 1) */
.wt-64 {
  background: url(house.png) -32px -32px;
}
/* house.png (2, 1) */
.wt-65 {
  background: url(house.png) -64px -32px;
}
/* house.png (3, 1) */
.wt-66 {
  background: url(house.png) -96px -32px;
}
/* house.png (4, 1) */
.wt-67 {
  background: url(house.png) -128px -32px;
}
/* house.png (5, 1) */
.wt-68 {
  background: url(house.png) -160px -32px;
}
/* house.png (6, 1) */
.wt-69 {
  background: url(house.png) -192px -32px;
}
/* house.png (7, 1) */
.wt-70 {
  background: url(house.png) -224px -32px;
}
/* house.png (8, 1) */
.wt-71 {
  background: url(house.png) -256px -32px;
}
/* house.png (0, 2) */
.wt-72 {
  background: url(house.png) 0px -64px;
}
/* house.png (1, 2) */
.wt-73 {
  background: url(house.png) -32px -64px;
}
/* house.png (2, 2) */
.wt-74 {
  background: url(house.png) -64px -64px;
}
/* house.png (3, 2) */
.wt-75 {
  background: url(house.png) -96px -64px;
}
/* house.png (4, 2) */
.wt-76 {
  background: url(house.png) -128px -64px;
}
/* house.png (5, 2) */
.wt-77 {
  background: url(house.png) -160px -64px;
}
/* house.png (6, 2) */
.wt-78 {
  background: url(house.png) -192px -64px;
}
/* house.png (7, 2) */
.wt-79 {
  background: url(house.png) -224px -64px;
}
/* house.png (8, 2) */
.wt-80 {
  background: url(house.png) -256px -64px;
}
/* house.png (0, 3) */
.wt-81 {
  background: url(house.png) 0px -96px;
}
/* house.png (1, 3) */
.wt-82 {
  background: url(house.png) -32px -96px;
}
/* house.png (2, 3) */
.wt-83 {
  background: url(house.png) -64px -96px;
}
/* house.png (3, 3) */
.wt-84 {
  background: url(house.png) -96px -96px;
}
/* house.png (4, 3) */
.wt-85 {
  background: url(house.png) -128px -96px;
}
/* house.png (5, 3) */
.wt-86 {
  background: url(house.png) -160px -96px;
}
/* house.png (6, 3) */
.wt-87 {
  background: url(house.png) -192px -96px;
}
/* house.png (7, 3) */
.wt-88 {
  background: url(house.png) -224px -96px;
}
/* house.png (8, 3) */
.wt-89 {
  background: url(house.png) -256px -96px;
}
/* house.png (0, 4) */
.wt-90 {
  background: url(house.png) 0px -128px;
}
/* house.png (1, 4) */
.wt-91 {
  background: url(house.png) -32px -128px;
}
/* house.png (2, 4) */
.wt-92 {
  background: url(house.png) -64px -128px;
}
/* house.png (3, 4) */
.wt-93 {
  background: url(house.png) -96px -128px;
}
/* house.png (4, 4) */
.wt-94 {
  background: url(house.png) -128px -128px;
}
/* house.png (5, 4) */
.wt-95 {
  background: url(house.png) -160px -128px;
}
/* house.png (6, 4) */
.wt-96 {
  background: url(house.png) -192px -128px;
}
/* house.png (7, 4) */
.wt-97 {
  background: url(house.png) -224px -128px;
}
/* house.png (8, 4) */
.wt-98 {
  background: url(house.png) -256px -128px;
}
/* house.png (0, 5) */
.wt-99 {
  background: url(house.png) 0px -160px;
}
/* house.png (1, 5) */
.wt-100 {
  background: url(house.png) -32px -160px;
}
/* house.png (2, 5) */
.wt-101 {
  background: url(house.png) -64px -160px;
}
/* house.png (3, 5) */
.wt-102 {
  background: url(house.png) -96px -160px;
}
/* house.png (4, 5) */
.wt-103 {
  background: url(house.png) -128px -160px;
}
/* house.png (5, 5) */
.wt-104 {
  background: url(house.png) -160px -160px;
}
/* house.png (6, 5) */
.wt-105 {
  background: url(house.png) -192px -160px;
}
/* house.png (7, 5) */
.wt-106 {
  background: url(house.png) -224px -160px;
}
/* house.png (8, 5) */
.wt-107 {
  background: url(house.png) -256px -160px;
}
/* house.png (0, 6) */
.wt-108 {
  background: url(house.png) 0px -192px;
}
/* house.png (1, 6) */
.wt-109 {
  background: url(house.png) -32px -192px;
}
/* house.png (2, 6) */
.wt-110 {
  background: url(house.png) -64px -192px;
}
/* house.png (3, 6) */
.wt-111 {
  background: url(house.png) -96px -192px;
}
/* house.png (4, 6) */
.wt-112 {
  background: url(house.png) -128px -192px;
}
/* house.png (5, 6) */
.wt-113 {
  background: url(house.png) -160px -192px;
}
/* house.png (6, 6) */
.wt-114 {
  background: url(house.png) -192px -192px;
}
/* house.png (7, 6) */
.wt-115 {
  background: url(house.png) -224px -192px;
}
/* house.png (8, 6) */
.wt-116 {
  background: url(house.png) -256px -192px;
}
/* dirt2.png (0, 0) */
.wt-117 {
  background: url(dirt2.png) 0px 0px;
}
/* dirt2.png (1, 0) */
.wt-118 {
  background: url(dirt2.png) -32px 0px;
}
/* dirt2.png (2, 0) */
.wt-119 {
  background: url(dirt2.png) -64px 0px;
}
/* dirt2.png (0, 1) */
.wt-120 {
  background: url(dirt2.png) 0px -32px;
}
/* dirt2.png (1, 1) */
.wt-121 {
  background: url(dirt2.png) -32px -32px;
}
/* dirt2.png (2, 1) */
.wt-122 {
  background: url(dirt2.png) -64px -32px;
}
/* dirt2.png (0, 2) */
.wt-123 {
  background: url(dirt2.png) 0px -64px;
}
/* dirt2.png (1, 2) */
.wt-124 {
  background: url(dirt2.png) -32px -64px;
}
/* dirt2.png (2, 2) */
.wt-125 {
  background: url(dirt2.png) -64px -64px;
}
/* dirt2.png (0, 3) */
.wt-126 {
  background: url(dirt2.png) 0px -96px;
}
/* dirt2.png (1, 3) */
.wt-127 {
  background: url(dirt2.png) -32px -96px;
}
/* dirt2.png (2, 3) */
.wt-128 {
  background: url(dirt2.png) -64px -96px;
}
/* dirt2.png (0, 4) */
.wt-129 {
  background: url(dirt2.png) 0px -128px;
}
/* dirt2.png (1, 4) */
.wt-130 {
  background: url(dirt2.png) -32px -128px;
}
/* dirt2.png (2, 4) */
.wt-131 {
  background: url(dirt2.png) -64px -128px;
}
/* dirt2.png (0, 5) */
.wt-132 {
  background: url(dirt2.png) 0px -160px;
}
/* dirt2.png (1, 5) */
.wt-133 {
  background: url(dirt2.png) -32px -160px;
}
/* dirt2.png (2, 5) */
.wt-134 {
  background: url(dirt2.png) -64px -160px;
}
/* lavarock.png (0, 0) */
.wt-135 {
  background: url(lavarock.png) 0px 0px;
}
/* lavarock.png (1, 0) */
.wt-136 {
  background: url(lavarock.png) -32px 0px;
}
/* lavarock.png (2, 0) */
.wt-137 {
  background: url(lavarock.png) -64px 0px;
}
/* lavarock.png (0, 1) */
.wt-138 {
  background: url(lavarock.png) 0px -32px;
}
/* lavarock.png (1, 1) */
.wt-139 {
  background: url(lavarock.png) -32px -32px;
}
/* lavarock.png (2, 1) */
.wt-140 {
  background: url(lavarock.png) -64px -32px;
}
/* lavarock.png (0, 2) */
.wt-141 {
  background: url(lavarock.png) 0px -64px;
}
/* lavarock.png (1, 2) */
.wt-142 {
  background: url(lavarock.png) -32px -64px;
}
/* lavarock.png (2, 2) */
.wt-143 {
  background: url(lavarock.png) -64px -64px;
}
/* lavarock.png (0, 3) */
.wt-144 {
  background: url(lavarock.png) 0px -96px;
}
/* lavarock.png (1, 3) */
.wt-145 {
  background: url(lavarock.png) -32px -96px;
}
/* lavarock.png (2, 3) */
.wt-146 {
  background: url(lavarock.png) -64px -96px;
}
/* lavarock.png (0, 4) */
.wt-147 {
  background: url(lavarock.png) 0px -128px;
}
/* lavarock.png (1, 4) */
.wt-148 {
  background: url(lavarock.png) -32px -128px;
}
/* lavarock.png (2, 4) */
.wt-149 {
  background: url(lavarock.png) -64px -128px;
}
/* lavarock.png (0, 5) */
.wt-150 {
  background: url(lavarock.png) 0px -160px;
}
/* lavarock.png (1, 5) */
.wt-151 {
  background: url(lavarock.png) -32px -160px;
}
/* lavarock.png (2, 5) */
.wt-152 {
  background: url(lavarock.png) -64px -160px;
}
/* cement.png (0, 0) */
.wt-153 {
  background: url(cement.png) 0px 0px;
}
/* cement.png (1, 0) */
.wt-154 {
  background: url(cement.png) -32px 0px;
}
/* cement.png (2, 0) */
.wt-155 {
  background: url(cement.png) -64px 0px;
}
/* cement.png (0, 1) */
.wt-156 {
  background: url(cement.png) 0px -32px;
}
/* cement.png (1, 1) */
.wt-157 {
  background: url(cement.png) -32px -32px;
}
/* cement.png (2, 1) */
.wt-158 {
  background: url(cement.png) -64px -32px;
}
/* cement.png (0, 2) */
.wt-159 {
  background: url(cement.png) 0px -64px;
}
/* cement.png (1, 2) */
.wt-160 {
  background: url(cement.png) -32px -64px;
}
/* cement.png (2, 2) */
.wt-161 {
  background: url(cement.png) -64px -64px;
}
/* cement.png (0, 3) */
.wt-162 {
  background: url(cement.png) 0px -96px;
}
/* cement.png (1, 3) */
.wt-163 {
  background: url(cement.png) -32px -96px;
}
/* cement.png (2, 3) */
.wt-164 {
  background: url(cement.png) -64px -96px;
}
/* cement.png (0, 4) */
.wt-165 {
  background: url(cement.png) 0px -128px;
}
/* cement.png (1, 4) */
.wt-166 {
  background: url(cement.png) -32px -128px;
}
/* cement.png (2, 4) */
.wt-167 {
  background: url(cement.png) -64px -128px;
}
/* cement.png (0, 5) */
.wt-168 {
  background: url(cement.png) 0px -160px;
}
/* cement.png (1, 5) */
.wt-169 {
  background: url(cement.png) -32px -160px;
}
/* cement.png (2, 5) */
.wt-170 {
  background: url(cement.png) -64px -160px;
}